@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

header:hover {
  background-color: #fdc6c6;
  transition: all 0.2s ease-in;
}

header nav ul li {
  padding: 30px 10px;
  margin-right: 20px;
  color: #4b5358;
  font-size: 14px;
  font-family: Raleway, sans-serif;
}

header nav ul .nav-link {
  text-transform: uppercase;
}

header nav ul .nav-link:after {
  display: block;
  content: "";
  border-bottom: solid 2px #4b5358;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header nav ul .nav-link:hover:after {
  transform: scaleX(1);
}
header nav ul .nav-link:after {
  transform-origin: 0% 50%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: white !important;
}

.banner-discover {
  background-image: url("Images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer div ul li {
  color: #4b5358;
  padding-top: 20px;
}

footer .hoverable ul li:after {
  display: block;
  content: "";
  border-bottom: solid 2px #4b5358;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
footer .hoverable ul li:hover:after {
  transform: scaleX(1);
}
footer .hoverable ul li:after {
  transform-origin: 0% 50%;
}

.about-slider {
  background-image: url("Images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about {
  background-image: url("../src/Images/aboutpage.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.projects {
  background-image: url("../src/Images/projectspage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media only screen and (max-width: 450px) {
  header {
    background-color: #fdc6c6 !important;
  }
}
